@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
}
nav a {
  color: #14599d;
  text-decoration:none;
}
nav.site {
  background-color: #0e365a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  position: fixed;
  left:0;
  top:0;
  right:0px;
  height: 50px;
}
nav.article {
  background-color:#f2f2f2; 
  padding:10px;
  border-bottom:#ccc 1px solid;
  position: fixed;
  left:0;
  top:50px;
  right:0;
}
nav.reading {
  background-color:#f2f2f2; 
  padding:10px;
  border-bottom:#ccc 1px solid;
  position: fixed;
  left:0;
  top:0px;
  right:0;
  display: flex;
  justify-content: space-between;
}
nav.toc {
  background-color:#f2f2f2; 
  position: fixed;
  padding:15px;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
nav.toc li {
  font-size:24px;
}
nav.reading .title {
  font-weight: 700;
}
nav.share {
  position: fixed;
  width:50px;
  top:50%;
  right:0;
  height: 30px;
}
nav.quiz {
  background-color: #f2f2f2;
  border-top: 5px solid #0e365a;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
nav.quiz a {
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: #14599d;
  border-radius: 5px;
  display: inline-block;
}
nav .social {
  color: #fff;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 0.25rem;
  text-decoration: none;
  margin:5px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav.hide {
  display:none;
}

nav .logo {
  width: 35px;
  height: 35px;
}
/*
  Mukta
    Extra-light 200
    Light 300
    Regular 400 - Paragraph
    Medium 500 - subtitle, description
    Semi-bold 600 - Paragraph Higlight
    Bold 700 - Section Heading
    Extra-bold 800 - Title of the page

  Martel
    Extra-light 200
    Light 300
    Regular 400
    Semi-bold 600
    Bold 700 - Section Heading
    Extra-bold 800 - Section Heading
    Black 900 - Title of the page

  Laila Font Weight:
    700 - Title of the page
    600 - Section Headings h1..h6
    500 - Any Bold Text
    400 - Regular Text
*/
article {
  font-size: 1em;
  font-weight: 400;
  background-color: #f2f2f2;
  margin-top:100px;
}
article figure {
  margin: 0px;
}
article figcaption {
  display: flex;
  justify-content: center;
}
article .title {
  font-size: 2em; 
  font-weight: 800;
  align-self:center;
  margin: 30px 0;
}
article .subtitle {
  font-size: 1.25em;
  font-weight: 500;
  margin: 30px 0;
}
article .coverimg {
  width:100%;
}
article .description {
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
}
article header {
  margin-top: 30px;
  background-color: white;
  padding:10px ;
}

article section {
  margin-top: 30px;
  background-color: white;
  padding:10px ;
}

article ol {
  padding-inline-start: 25px;
}
article ul {
  padding-inline-start: 25px;
}

article h1 {
    font-size: 1.75em;
    font-weight: 700;
}
article h2 {
  font-size: 1.25em;
  font-weight: 700;
}

article h3 {
  font-size: 1.125em;
  font-weight: 700;
}

article .shloka {
  font-size: 0.75em;
  display:flex;
  flex-direction: column;
  background-color: #eee;
  padding: 5px;
}

article img {
  width: 100%;
}
