@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700;900&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: 'Vesper Libre', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 450px) {
  body {
    font-size: 20px;
  }
}