nav .social {
    color: #fff;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 0.25rem;
    text-decoration: none;
    margin:5px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}  
nav.share {
    position: fixed;
    width:50px;
    top:50%;
    right:0;
    height: 30px;
}  