{% if os.environ.APP_ENVIRONMENT == "production" %}
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-analytics.js"></script>
    
    <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyCu1azH_PqRsw9cc8hgliqZ2rgu2aMInSM",
        authDomain: "history-of-jainism.firebaseapp.com",
        projectId: "history-of-jainism",
        storageBucket: "history-of-jainism.appspot.com",
        messagingSenderId: "1020329931456",
        appId: "1:1020329931456:web:023d8b13ded314cca0f325",
        measurementId: "G-HWR4YKMSDK"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
{% endif %}