<!DOCTYPE html>
<html lang="{{ lang }}" >
<head>
  <meta charset="UTF-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
{% include "favicon.html" %}
{% include "linkpreview.html" with description=subtitle %}
  <!-- title Maximum of 65 characters -->
  <title>History of Jainism - {{ title }}</title>
  <!-- description Maximum of 155 characters -->
  <meta name="description" content="{{ subtitle }}"></meta>
  {% load static %}
  <link rel="preconnect" href="https://fonts.gstatic.com"></link>
  <link rel="stylesheet" href="{% static 'css/article.css' %}"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"></link>
  <script src='/static/js/article.js'></script>
</head>
<body>
  <nav class="site">
    <a class="logo" href="https://historyofjainism.com">
        <img class="logo" src="{% static 'images/Logo-Transparent-White.png' %}" alt="History of Jainism"/>
    </a>
    <div style="font-size:24px;">History of Jainism</div>
  </nav>
  <nav class="article">
    <div style='display: flex;justify-content: space-between;font-size:0.75em; margin-bottom: 10px; color:#14599d;'>
      <div>
        <a href='https://historyofjainism.com' title="home">Home</a>
      </div>
      <div style="display:none">
        <a href='{{ lang_en_url }}'>Eng</a> | <a href='{{ lang_hi_url }}'>हिंदी</a>
      </div>
    </div>
    <div style='font-weight: bold;'>
      {{title}}
    </div>
  </nav>
  <nav class="share">
      <!-- Whatsapp -->
      <a class="social" style="background-color: #25d366;" 
        href="whatsapp://send?text={{prod_url}} %0D%0A {{title}} %0D%0A {{description}}" data-action="share/whatsapp/share">
        <i class="fab fa-whatsapp"></i>
      </a>
      <!-- Facebook -->
      <a class="social" style="background-color: #3b5998;" 
        href="https://www.facebook.com/sharer.php?u={{prod_url}}">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Twitter -->
      <a class="social" style="background-color: #55acee;" 
        href="https://twitter.com/intent/tweet?url={{prod_url}}&text=Read this interesting article in history of jainism">
        <i class="fab fa-twitter"></i>
      </a>
  </nav>
  <nav class="reading hide">
    <div class="title"></div>
    <a onclick="show_nav_by_name('toc')"><i class="fas fa-caret-square-down"></i></a>
  </nav>
  <nav class="toc hide">
    <div class="sections_list">
      <b>{{ title }}</b>
    </div>
    <a onclick="hide_nav_by_name('toc')"><i class="fas fa-window-close"></i></a>
  </nav>
{% include article_content %}
{% include "analytics.html" %}
</body>
</html>