<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
<footer class="box" style="padding:0px !important; background: pink; ">
    <div style="display: flex; padding:15px; justify-content: center;">
      <i class="fas fa-share-alt" style="margin:15px;color:white"></i>
      <!-- Whatsapp -->
      <a class="social" style="background-color: #25d366;" href="http://joinwhatsapp.historyofjainism.com/" role="button">
        <i class="fab fa-whatsapp"></i>
      </a>
      <!-- Facebook -->
      <a class="social" style="background-color: #3b5998;" href="https://fb.com/historyofjainism" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Twitter -->
      <a class="social" style="background-color: #55acee;" href="https://twitter.com/muni_speaks" role="button">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div style="display: flex; margin:15px; justify-content: center;">
      <i class="fas fa-user-plus" style="margin:15px;color:white;"></i>
    <!-- Whatsapp -->
      <a class="social" style="background-color: #25d366;" href="http://joinwhatsapp.historyofjainism.com/" role="button">
        <i class="fab fa-whatsapp"></i>
      </a>
      <!-- Facebook -->
      <a class="social" style="background-color: #3b5998;" href="https://fb.com/historyofjainism" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Twitter -->
      <a class="social" style="background-color: #55acee;" href="https://twitter.com/muni_speaks" role="button">
        <i class="fab fa-twitter"></i>
      </a>
      <!-- Instagram -->
      <a class="social" style="background-color: #ac2bac;" href="https://www.instagram.com/historyofjainism/" role="button">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  <nav style="margin-top:30px;">
    <a href="https://history-of-jainism.web.app/timeline/en/ahojinshashan" style="background-color: #499F68;">
      <i class="fas fa-question-circle"></i>
      TAKE A QUIZ!
    </a>
    <a href="https://history-of-jainism.web.app/timeline/en/ahojinshashan" style="background-color: #F19F0F;">
      <i class="fab fa-readme"></i> 
      Aho Jinshashan!
    </a>
    <a href="https://historyofjainism.com" style="background-color: #CD4436;">
      <i class="fas fa-home"></i> 
      <b>HOME</b>
    </a>
    <a href="https://history-of-jainism.web.app/timeline/en/ahojinshashan" style="background-color: #6892D5;">
      <i class="fas fa-asterisk"></i> 
      REFERENCES
    </a>
  </nav>
</footer>