<footer class="flex-fill col">
    <div 
        class="bg-image" 
        style="
            background-image:url('/static/images/Background2.png');
            height:100vh;
            background-color: red;
        "
    >
    <div class="p-2 text-center">
        <!-- Whatsapp -->
        <a class="btn btn-primary me-3" style="background-color: #25d366;" href="http://joinwhatsapp.historyofjainism.com/" role="button">
            <i class="fab fa-lg fa-whatsapp"></i>
            JOIN Whatsapp Group
        </a>
    </div>
    <div class="p-2 text-center" >
        <!-- Facebook -->
        <a class="btn btn-primary me-3" style="background-color: #3b5998;" href="https://fb.com/historyofjainism" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a class="btn btn-primary me-3" style="background-color: #55acee;" href="https://twitter.com/muni_speaks" role="button">
            <i class="fab fa-twitter"></i>
        </a>
        <!-- Instagram -->
        <a class="btn btn-primary me-3" style="background-color: #ac2bac;" href="https://www.instagram.com/historyofjainism/" role="button">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</footer>