<style> 
  footer {
    background-color: #282d32;
    display: grid;
    grid-template-columns: 100%;
    padding: 25px;
    margin-bottom: 50px;
  }
  footer h1 {
    color: rgb(240, 249, 255);
    font-size: 1em;
  }
  footer p, footer ol, footer li {
    color: #9F9F9F;/* #6c757d;*/
    font-size: 0.75em;
  }
  footer .links {
    grid-column-start:1; 
    grid-column-end:2;
    display: flex;
    justify-content: space-around;
  }
  .links a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
  }
  footer .logo {
      width: 35px;
      height: 35px;
  }
  @media (min-width: 450px) {
    footer {
      grid-template-columns: 50% 50%;
    }
    footer .links {
      grid-column-start:1; 
      grid-column-end:3;
    }
  }
  @media (min-width: 900px) {
    footer {
      grid-template-columns: 33% 33% 33%;
    }
    footer .links {
      grid-column-start:1; 
      grid-column-end:4;
    }
  }
</style>
<footer>
  <section class='links'>
    <a href='/'>
      <img class="logo" src="/static/images/logo.png" alt="History of Jainism"/>
    </a>
    <a href='https://medium.com/muni-speaks'>
      <img class="logo" src="/static/images/munispeaks.png">
    </a>
    <!-- Whatsapp -->
      <a href="http://joinwhatsapp.historyofjainism.com/">
          <i class="fab fa-whatsapp"></i>
      </a>
      <!-- Facebook -->
      <a href="https://fb.com/historyofjainism">
          <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Twitter -->
      <a href="https://twitter.com/muni_speaks">
          <i class="fab fa-twitter"></i>
      </a>
      <!-- Instagram -->
      <a href="https://www.instagram.com/historyofjainism/">
          <i class="fab fa-instagram"></i>
      </a>
      <!-- Github-->
      <a href="https://github.com/historyofjainism/django">
          <i class="fab fa-github"></i>
      </a>
        <!-- YouTube -->
        <a href="https://www.youtube.com/channel/UCCuthgCCDHRhJZxkbYbZ1GA">
          <i class="fab fa-youtube"></i>
      </a>
</section>
  <section>
    <h1>About</h1>
    <p>It’s time the ‘real Jainism history’ is told.</p>
    <p>Jain Dharm is eternal. It is important to reclaim our history and write it from our ‘perspective’. Kings like Kumarpal, Shrenik, great ministers like Vastupal, Tejpal and great Jain Acharyas like Vajraswami,  Hemachandracharya do not find prominent place in the history books taught in school. "History of Jainism" portal has undertaken objective of presenting ancient and glorious history of Jainism.The History is the mirror of the past. "History of Jainism" portal has undertaken objective of presenting ancient and glorious history of Jainism. </p>
  </section>
  <section>
    <h1>Volunteer</h1>
    <p>This portal is run by volunteers. We need volunteers with one or more of the following skillsets: </p>
    <ul>
      <li>web-design</li>
      <li>creating posters for social media</li>
      <li>whatsapp, facebook, instagram admin</li>
      <li>translation from gujarati to English</li>
      <li>translation from gujarati to hindi</li>
      <li>translation from hindi to english</li>
      <li>digitisation of scanned pdfs</li>
      <li>proof reading & editing</li>
    </ul>
    <p>Contact us on whatsapp</p>
  </section>
  <section>
    <h1>Sponsor</h1>
    <p>Would you like to sponsor prize money for quizzes? Contact us on whatsapp. </p>
  </section>
</footer>