<!-- og:title Maximum 35 characters -->
<meta property="og:title" content="{{ title }}"></meta>
<!-- og:url Full link to the current webpage address -->
<meta property="og:url" content="{{ prod_url }}"></meta>
<meta property="og:site_name" content="History of Jainism"></meta>
<!-- og:description Maximum 65 characters -->
<meta property="og:description" content="{{ description }}"></meta>
<!-- og:image Image(JPG or PNG) with a size less than 300KB and minimum dimensions of 300 x 200 *. This image should be served via a HTTPS connection with a valid non-self-signed certificate.** -->
<meta property="og:image" itemprop="image" content="{{ linkpreview_img }}"></meta> 
<meta property="og:image:secure_url" itemprop="image" content="{{ linkpreview_img }}"></meta> 
<meta property="og:updated_time" content="2021-05-16T11:00:00+0530"></meta>
<!-- og:type In order for your object to be represented within the graph, you need to specify its type. Here's a list of the global types available: http://ogp.me/#types. You can also specify your own types. -->
<meta property="og:type" content="article"></meta>
<meta property="og:locale" content="hi_EN"></meta>
<meta property="og:locale:alternate" content="en_GB"></meta>
<!-- Twitter For the best Twitter support read https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started.-->
<meta name="twitter:card" content="summary"></meta>
<meta name="twitter:site" content="@muni_speaks"></meta>
