{% extends "ampstory.html" %}

{% block amp-story-pages %}
  <amp-story-page id="{{sys.id}}">
    <amp-story-grid-layer template="fill">
      <amp-img 
        alt="{{title}}"
        src='{{cover.0.url}}'
        layout="responsive"
        width=518
        height=456
        animate-in="fade-in"
        animate-in-duration="2s"
      />
    </amp-story-grid-layer>
    <amp-story-grid-layer template="thirds">
      <div grid-area="lower-third" animate-in="fly-in-bottom">
        <h1 class="info">{{title}}</h1>
      </div>
    </amp-story-grid-layer>
  </amp-story-page>
  <amp-story-page id="{{sys.id}}-intro">
    <amp-story-grid-layer template="fill">
      <amp-img 
        alt="{{title}}"
        src='{{intro.0.url}}'
        layout="responsive"
        width=518
        height=456
        animate-in="fade-in"
        animate-in-duration="2s"
      />
    </amp-story-grid-layer>
    <amp-story-grid-layer template="thirds">
      <div grid-area="lower-third" animate-in="fly-in-bottom">
        <p class="info" >{{description}}</p>
      </div>
    </amp-story-grid-layer>
  </amp-story-page>
  {% for page in pagesCollection.items %}
  <amp-story-page id="{{page.sys.id}}">
    {% if page.image.0 %}
    <amp-story-grid-layer template="fill">
      <amp-img 
        alt="{{page.title}}"
        src='{{page.image.0.url}}'
        layout="responsive"
        width=518
        height=456
        animate-in="fade-in"
        animate-in-duration="2s"
      />
    </amp-story-grid-layer>
    <amp-story-grid-layer template="thirds">
      <div grid-area="lower-third" animate-in="fly-in-bottom">
        <p class="info" >{{page.paragraph}}</p>
      </div>
    </amp-story-grid-layer>
    {% elif page.ol %}
    <amp-story-grid-layer template="vertical">
        <h1>{{page.heading}}</h1>
        <ol animate-in="fly-in-left">
          {% for li in page.ol %}
          <li>{{li}}
          {% endfor %}
        </ol>
    </amp-story-grid-layer>
    {% else %}
    <amp-story-grid-layer template="vertical">
        <h1>{{page.heading}}</h1>
        <p>{{page.paragraph}}</p>
    </amp-story-grid-layer>
    {% endif %}
  </amp-story-page>
  {% endfor %}
  <amp-story-page id='brandscreen'>
    <amp-story-grid-layer template="fill">
      <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
        <amp-img 
          alt="History of Jainism"
          src='https://res.cloudinary.com/history-of-jainism/image/upload/v1634199759/brand/logo/Logo-Transparent-White_rglsde.png'
          layout="fixed"
          width="120"
          height="105"
          animate-in="fade-in"
          animate-in-duration="2s"
        ></amp-img>
        <p style="color:white">https://historyofjainism.com</p>
      </div>
    </amp-story-grid-layer>
    <amp-story-cta-layer>
      <div>
        <a href="https://historyofjainism.com">Visit website</a>
      </div>
    </amp-story-cta-layer>
  </amp-story-page>
{% endblock %}

