<!DOCTYPE html>
<html lang="{{ lang }}" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "favicon.html" %}
{% include "linkpreview.html" %}
  <!-- title Maximum of 65 characters -->
  <title>History of Jainism - {{ title }}</title>
  <!-- description Maximum of 155 characters -->
  <meta name="description" content="{{ description }}">
  {% load static %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Laila:wght@500&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Laila:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/webstory.css' %}">
<script>
    function update_scroll() {
        ws = document.getElementsByClassName('webstory')[0]
        el = Math.round(ws.scrollLeft / window.innerWidth)
        for ( i = 0; i < 10; i++ ) {
          ac = document.getElementById("storyscroll" + i)
          if (i == el) {
            ac.classList.add("scrollactive")
          } else {
            ac.classList.remove("scrollactive")
          }
        } 
    };  
  </script>
</head>
</head>
<body>
<div class="webstory" onscroll="update_scroll()">
  <section id="story0">
    <div class="box">
      <span class="top"></span>
      <span class="right"></span>
      <span class="bottom"></span>
      <span class="left"></span>
      <div class="content">
        <img src="{% static 'images/Logo-Transparent-White.png' %}" alt="History of Jainism" style="padding:5px; width:35px; height:35px; z-index:10;"/>
        <h1>गच्छ</h1>
        <p>ग्रंथो में गच्छ, कुल, गण और शाखाएं का वर्णन आया करता है, परन्तु इन नामों का पारिभाषिक अर्थ और प्रचलित होने के कारण क्या है इन बातों को समझने वाले बहुत कम होंगे। भगवान महावीर के समय में भी नव गण थे, परन्तु उन गणों के साथ कुल तथा शाखाओ की चर्चा नहीं थी। भगवान महावीर के निर्वाण होने के बाद भी लगभग 200 बर्षों तक सैकड़ों की संख्या में जैन श्रमण विचरते थे तथापि उस समय कुल, गण आदि की चर्चा क्‍यों नहीं, यह शंका होना विचारवान के लिए स्वाभाविक है । इन सब बातों का स्पष्टीकरण करते है।</p>
        <p><i style="color:white;" class="fas fa-arrow-circle-left"></i> Swipe Left</p>
      </div>
    </div>
  </section>
  <section id="story1">
    <div class="box">
      <h1>गण</h1>
      <p>भगवान महावीर के समय में 'गण' थे, इसीलिए उनके व्यवस्थापक मुख्य शिष्य "गणधर" कहलाते थे । गण का अर्थ "एक साथ बैठकर अध्ययन करने वाले श्रमणों का समुदाय” होता है। महावीर के गणधर 11 थे परन्तु गण 9 ही माने गये हैं, क्योंकि अंतिम चार गणघरों में दो दो गणधरो के छात्र-समुदायों को सम्मिलित करके शास्त्राध्ययन कराया जाता था । अत: गणधर दो दो होने पर भी उनका समुदाय एक एक ही माना जाता था ।</p>
      <hr/>
      <p>तीर्थंकर महावीर के गणधरों में से एक एक के पास जितने भी श्रमण होते थे वे सब गणधर के शिष्य माने जाते थे । इस लिए गणधरों के समय में कुल नहीं थे । भगवान महावीर के जितने भी गणधर थे वे सब अपने शिष्यों को निर्वाण के समय में दीर्घजीवी गणधर सुधर्मा को सोप जाते थे, और बाद में वे सब सुधर्मा के शिष्य माने जाते थे। </p>
    </div>
  </section>
  <section id="story2">
    <div class="box">
      <h1>पुनः गण विस्तार</h1>
      <p>गणधरों के सम्बन्ध में ही नहीं, यह परिपाटी लगभग भद्रबाहु स्वामी के समय तक चलती रही । किसी के भी उपदेश से प्रतिबोध पाकर दीक्षा लो, पर उसे शिष्य तो मुख्य पट्टधर आचार्य का हो होना पड़ता था। आचार्य भद्रबाहु के शिष्य स्थविर 'गोदास' से सर्वप्रथम उनके नाम से 'गोदास गण' निकला । इसका कारण यह था कि तब तक जैन श्रमणों की संख्या पर्याप्त बढ़ चुकी थी और सब श्रमणों को वे सम्हाल नहीं सकते थे। इसलिए अपने समुदाय के अमुक साधुओ की वे स्वयं व्यवस्था करते थे, तब उनसे अतिरिक्त सैकड़ों साधु थे उनकी देखभाल तथा पठन-पाठन की व्यवस्था भद्गबाहु के अन्य तीन स्थविर करते थे जिनके नाम अग्निदत्त, यज्ञदत्त और सोमदत्त थे । जो समुदाय 'स्थविर गोदास' की देखभाल में था उसका नाम “गोदास गण” हो गया । </p>
    </div>
  </section>
  <section id="story3">
    <div class="box">
      <h1>शाखाएँ</h1>
      <p>शाखाओं के नाम बहुधा श्रमणों के अधिक विहार अथवा अधिक निवास के कारण नगर अथवा गांवों के नामों से प्रचलित हो जाते थे, जैसे ताम्रलिप्ति नगरी से ताम्रलिप्तिका, पौण्डवर्धन नगर से पौण्डवर्धनिका, कोटिवर्ष नगर से कोटिवर्षीया, दासीकर्पट तामक स्थान से दासीकर्पटिका ।</p>
    </div>
  </section>
  <section id="story4">
    <div class="box">
      <h1>कुल</h1>
      <p>आर्य गोदास के समय में श्रमणों की संख्यावृद्धि के कारण गण पृथक्‌ निकला, शाखाएँ प्रसिद्ध हुईं । परन्तु कुल उत्पन्न नहीं हुप्रा, क्योंकि तब तक मुख्य आचार्य के अतिरिक्त किसी भी स्थविर ने अपने नाम से शिष्य बनाने का प्रारंभ नहीं किया था, परन्तु मौर्यकाल में श्रमणों की अत्यधिक वृद्धि और दूर दूर प्रदेशों में विहार प्रचलित हो चुका था, परिणाम यह हुआ कि पट्टधर के अतिरिक्त अन्य योग्य स्थविर भी अपने नाम से पुरुषों को दीक्षा देकर उनके समुदाय को अपने “कुल” के नाम से प्रसिद्ध करने लगे और उसकी व्याख्या निश्चित हुई, कि "कुल एकाचार्यसन्तति:" </p>
    </div>
  </section>
  <section id="story5">
    <div class="box">
      <h1>कुल तथा गणों के नियम</h1>
      <p>
        जब तक साधु-संख्या अत्यधिक बढ़ी नहीं थी, तब तक आचार्य की आज्ञा में रहने वाले साधुसमुदाय गण के नाम से ही पहिचाने जाते थे । बाद जब आचार्य ने अपने अपने नाम से शिष्य बनाकर अपने नाम से कुल प्रसिद्ध किये तब आचार्यों को 'कुल' तथा 'गणों' के सम्बन्ध में नये नियम निर्माण करने पड़े ।
      </p>
        <blockquote>
        “एत्थ कुलं विण्णेयं, <br/>एयायरियस्स संतती जाउ ।<br/>
        तिण्ह कुलाणमिहों पुण, <br/>साविक्खाणं गणो होइ।। 
        </blockquote>
      <p>
          अर्थात्‌ : एक आचार्य का शिष्यपरिवार कुल कहलाता है, ऐसे परस्पर सापेक्ष याने-एक दूसरे से सभी प्रकार के साम्भोगिक व्यवहार रखने वाले तीन कुलों का समुदाय "गण" कहलाता है। 
      </p>
    </div>
  </section>
  <section id="story6">
    <div class="box">
      <h1>कुल और गण में साधुओ की संख्या</h1>
      <p>
        शास्त्रों में कुल की परिभाषा यह बांधी गयी है कि आठ साधुओं के ऊपर नवमां उनका गुरु स्थविर हो, तभी उसका नाम "कुल" कहलाता था, आठ में एक भी संख्या कम होने पर वह कुल कहलाने का अधिकारी नहीं होता था । यह कुल की कम से कम संख्या मानी गयी । उससे अधिक कितनी भी हो सकती थी । 
      </p>
      <hr/>
      <p>
        कम से कम तीन 'कुल' सम्मिलित होते, तभी अपने संघटन को 'गण' कह सकते थे । एक गण में 28 साधु सम्मिलित होते है, तीन कुलों के 27 और 28 वां 'गणस्थविर' तभी वह संघटन 'गण' नाम से अपना व्यवहार कर सकता था, और गण को जो जो अधिकार प्राप्त थे वे उसको मिलते थे ।       
      </p>
    </div>
  </section>
  <section id="story7">
    <div class="box">
      <h1>गच्छ</h1>
      <p>
        इस प्रकार 'कुल' तथा 'गण' की व्याख्या शास्त्रकारों ने बाँधी है, जब तक "युगप्रधान शासन-पद्धति" चलती रही तब तक इसी प्रकार की 'कुल' तथा 'गण' की परिभाषा थी, संघ स्थविर-शासन पद्धति विच्छेद होने के बाद कुल, गण की परिभाषाएँ भी धीरे धीरे भुलायी जाने लगीं और परिणामस्वरूप 'गण' शब्द का स्थान गच्छ ने ग्रहण किया ।
      </p>
      <hr/>
      <p>
        'गच्छ' शब्द का व्यावहारिक अर्थ हम 'टुकडी' कर सकते हैं। दो साधुओ की सम्मिलित संख्या 'संघाटक' कहलाती थी, तब तीन, चार, पांच आदि से लेकर हजारों तक की सम्मिलित संख्या 'गच्छ' नाम से व्यवहृत होती थी । “बृहत्‌कल्पभाष्य” में तीन से लेकर ३२ हजार तक की श्रमणसंख्या को 'गच्छ' के नाम से निर्दिष्ट किया है । ८४ गच्छ होने की मान्यता है। इसकी अलग अलग सूची मिलती है ।
      </p>
    </div>
  </section>
  <section id="story8">
    <div class="box">
      <h1>उपसंहार</h1>
      <p>गण-कुल-गच्छ आदि शब्द विशिष्ट हैं।</p>
      <ul>
        <li>गण: जिनकी वाचना पद्धति समान होती है, वह श्रमण समूह गण कहलाता है।</li>
        <li>अर्थात्‌ एक दूसरे से सांभोगिक (वस्त्र, आहार आदि) व्यवहार रखने वाले तीन कुलों का समुदाय गण कहलाता है।</li>
        <li>कुल: एक आचार्य का शिष्य परिवार कुल कहलाता है।</li>
        <li>गच्छ: 3 से लेकर 32,000 तक की श्रमण संख्या को गच्छ नाम से निर्दिष्ट कर दिया।</li>
      </ul>
      <p>किसी भी साधु-साध्वी जी को एक गच्छ में सम्मिलित रहना ही चाहिए। गच्छ महाप्रभावशाली है क्योंकि उसमें रहने वालों की बड़ी कर्मनिर्जरा होती है। सारणा, वारणा और प्रेरणा आदि द्वारा उन्हें दोषों की प्राप्ति भी नहीं होती।</p>
    </div>
  </section>
</div>
<nav class="scrollindicator">
  <a href="#story0"><div id="storyscroll0" class="scrollitem scrollactive"></div></a>
  <a href="#story1"><div id="storyscroll1" class="scrollitem"></div></a>
  <a href="#story2"><div id="storyscroll2" class="scrollitem"></div></a>
  <a href="#story3"><div id="storyscroll3" class="scrollitem"></div></a>
  <a href="#story4"><div id="storyscroll4" class="scrollitem"></div></a>
  <a href="#story5"><div id="storyscroll5" class="scrollitem"></div></a>
  <a href="#story6"><div id="storyscroll6" class="scrollitem"></div></a>
  <a href="#story7"><div id="storyscroll7" class="scrollitem"></div></a>
  <a href="#story8"><div id="storyscroll8" class="scrollitem"></div></a>
  <a href="#story9"><div id="storyscroll9" class="scrollitem"></div></a>
</nav>
</body>
</html>